<style>
    .dairesel {
        border-radius: 50%;
        overflow: hidden;
        width: 150px;
        height: 150px;
    }

        .dairesel img {
            display: block;
            min-width: 100%;
            min-height: 100%;
        }
</style>
<br / >
<body>
    <table width="100%" height="450" border="0">
        <tr>
            <td>
                <table width="100%" height="225" background="~/Content/img/1500x500.jpg" border="0">
                    <tr>
                        <td>
                            <div class="dairesel">

                                <img src="https://media.licdn.com/dms/image/C5603AQH9sFH1BFxjug/profile-displayphoto-shrink_200_200/0?e=1561593600&v=beta&t=XnM5xW38XnsimVFlRLtNSOf_OsLF96_t82HWKrfgBvM" alt="resim hakkında bilgi" height="75%" />

                            </div>


                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" height="75%" border="0">
                    <tr>
                        <td width="75%">
                            <table>
                                <tr>
                                    <td> <h3> <b> Göktug ERÇALIŞKAN</b> </h3> </td>
                                </tr>
                                <tr>
                                    <td> <h4> Electronics Engineer</h4> </td>
                                </tr>
                                <tr>
                                    <td> <h5> <font color="grey"> Türkiye</font> </h5> </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td> <b> İstanbul Kültür Üniversitesi</b> </td>
                                </tr>
                                <tr>
                                    <td> <b> <a href="https://www.linkedin.com/in/goktugercaliskan/detail/contact-info/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BXe8hEXrMQrq2%2Fs3lIw9%2FNw%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-contact_see_more"> İletişim bilgisini gör</a> </b> </td>
                                </tr>
                                <tr>
                                    <td> <b> <a href="https://www.linkedin.com/search/results/people/?facetNetwork=%5B%22F%22%5D&origin=MEMBER_PROFILE_CANNED_SEARCH&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BXe8hEXrMQrq2%2Fs3lIw9%2FNw%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-topcard_view_all_connections"> Bağlantıları gör</a> </b> </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <table width="100%" height="150" border="1">
            <table width="100%" height="225" border="1">
                <tr>
                    <td> <h2>Deneyimler</h2> </td>
                </tr>
            </table>
        </table>
</body>
